body {
    height: 100%;
    min-height: 100%;
}
div {
    margin: 20px;
}
nav {
    display: inline-block;
    width: 100%;
    min-width: 630px;
    position: relative;
    height: 60px;
}
nav div {
    display: inline-block;
}
nav .right-div{
    position: relative;
    bottom: 20px;
}
main {
    display: flex;
    width: 100%;
    min-width: 630px;
    height: calc(100vh - 120px);
    min-height: 290px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a {
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 13px;
}
.button-container {
    width: 584px;
    text-align: center;
}
button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
}
button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    cursor: pointer;
}
img {
    width: 272px;
    height: 92px;
}
#search-box {
    width: 584px;
    height: 44px;
    border-radius: 30px;
}
footer {
    display: inline-block;
    width: 100%;
    min-width: 630px;
    position: relative;
    height: 60px;
    background-color: #f2f2f2;
}
footer div {
    display: inline-block;
}
.right-div {
    float: right;
}